.tickets__radio{
    display: none;
  }
  
.tickets__radio:checked + label{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    
}
  
.tickets__radio:checked + label .ticket__title{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: white;
}